//COLORS

$main-color: #616cd0;
$accent-color: #f97d36;

$light-color: #e1e2f3;
$dark-color: #141414;
$gray-color: #8d8fa1;

// FONTS
$base-font-size: 16px;

//BREAKPOINTS

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
