@import "../../sass/helpers/functions.scss";
@import "../../sass/variables.scss";
@import "../../App.scss";
@import "../../sass/helpers/mixins.scss";

.trending {
  padding-inline: px_rem(16px);
  padding-top: px_rem(64px);
  max-width: 1300px;
  margin: auto;
  &__main {
    display: flex;
    flex-direction: column;
    gap: px_rem(32px);
    padding-top: px_rem(64px);
  }
}

.trending__img {
  border-radius: px_rem(15px);
  width: px_rem(300px);
  height: px_rem(200px);
  @include media-q(sm) {
    width: 50%;
  }
}
.trending-n {
  flex: 0 0 15%;
}
.trending__article {
  display: flex;
  gap: px_rem(16px);
  padding-bottom: px_rem(24px);
  &:first-child {
    display: none;
  }
}

.trending__details {
  border-bottom: solid px_rem(1px) var(--text-primary);
  flex: 0 0 50%;
}
.trending {
  &-hdl {
    margin-bottom: px_rem(8px);
    font-size: 56px;
  }
}
.trending-source {
  text-transform: uppercase;
  color: var(--text-secondary);
  font-weight: 600;
  font-size: px_rem(14px);
}
