@import "../../sass/helpers/functions.scss";
@import "../../sass/variables.scss";
@import "../../App.scss";
@import "../../sass/helpers/mixins.scss";

.navbar_container {
  max-width: px_rem(1300px);
  padding: px_rem(16px);
  margin: auto;
  display: flex;
  align-items: center;
  @include media-q(sm) {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.navbar {
  &__buttons {
    display: flex;
  }
  &__logo {
    margin-right: px_rem(64px);
  }
  &__item {
    border: none;
    padding-left: px_rem(8px);
    font-size: px_rem(16px);
    @include media-q(sm) {
      justify-content: flex-end;
    }
  }
}

