@import "../../sass/helpers/functions.scss";
@import "../../sass/variables.scss";
@import "../../App.scss";

.navbar_container {
  max-width: px_rem(1300px);
  padding: px_rem(16px);
  margin: auto;
  display: flex;
  // justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  margin-right: px_rem(64px);
}
