@import "../../sass/helpers/functions.scss";
@import "../../sass/variables.scss";

.search__box {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  // flex-grow: 1;
  // flex-shrink: 1;
  // flex-basis: auto;
  // padding-inline: px_rem(30px);
  // margin-right: auto;
}

#product-search {
  width: 80%;
  padding-block: px_rem(10px);
  padding-left: px_rem(46px);
  background-color: #f6f6f7;
  border-radius: px_rem(25px);
  outline: none;
  border: none;
}

#product-search::placeholder {
  width: 100%;
  font-size: px_rem(18px);
  color: $dark-color;
  opacity: 0.5;
}

.search__icon--search {
  position: absolute;
  cursor: pointer;
  left: px_rem(16px);
  opacity: 0.5;
}
// .search__icon--close {
//   position: absolute;
//   cursor: pointer;
//   // left: px_rem(334px);
//   opacity: 0.5;
// }
