@import "../../sass/helpers/functions.scss";
@import "../../sass/variables.scss";
@import "../../sass/helpers/mixins.scss";
.search__box {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  @include media-q(sm) {
    padding-top: px_rem(16px);
    order: 3;
  }
}

#product-search {
  width: 80%;
  padding-block: px_rem(10px);
  padding-left: px_rem(46px);
  background-color: var(--bg-search);
  border-radius: px_rem(25px);
  @include media-q(sm) {
    width: 100%;
  }
}

#product-search::placeholder {
  width: 100%;
  font-size: px_rem(14px);
  color: var(--text-primary);
  font-weight: 300;
  opacity: 0.5;
}

.search__icon--search {
  position: absolute;
  cursor: pointer;
  left: px_rem(16px);
  opacity: 0.5;
}
