@import "../../sass/helpers/functions.scss";
@import "../../sass/variables.scss";

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  background-color: var(--background);
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.08), 0 5px 8px 0 rgb(172, 172, 172);
  color: var(--text-primary);
  font-size: px_rem(12px);
  padding: px_rem(12px) px_rem(20px);
  border-radius: px_rem(4px);
}

.signin-tooltip {
  left: px_rem(-50px);
  transform: translateX(-50%);
  width: px_rem(200px);
}

.mode-tooltip {
  transform: translateY(10%);
  left: px_rem(-55px);
}
